.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width: 1440px){
/* Class for block containing all elements */    
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
/* Div containing all the elements and effects applied to them*/    
    .main-container div {
        padding: 5px;
    
    }

/* First container on the left */    
    .sub-container-1 {
        flex-basis: 50%;
    }

/* Second container on the right */    
    .sub-container-2 {
        border-radius: 2%;
        flex-direction: column;
        flex-basis: 35%;
        margin: 20px;
        padding: 5px;
    }
}

.cont-2-block1 {
    align-items: center;
    background-color: #6905a3;
    border-radius: 6px;
    box-shadow: 3px 3px 18px grey;
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
    width: 100%;
}

.cont-2-block1 p {
    color: white;
}

.cont-2-block2 {
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 18px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.cont-2-block2 form {
    width: 100%;
    display: grid;
}


body {
    background-image: url(/images/bg-intro-desktop.png);
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: 100%;
}
